.main {
  padding: 20px;
}
.sidebar {
  padding: 20px;
  background-color: #cacaca;
}

.content h2 {
  margin-top: 8rem;
  padding: 2rem 1.6rem 4rem 0.2rem;
  border-top: var(--border-w) solid #6767785b; /* based on --second */
  color: var(--text);
  line-height: 1;
  font-size: 2.6rem;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.content :global(.offset-anchor) {
  position: relative;
  display: block;
  top: calc(-1 * (var(--nav-h) + var(--top-offset) - 1rem));
  width: 0;
  height: 0;
}
.content :global(.anchor) {
  position: absolute;
  display: block;
  background: url(/icons/link.svg) 0 50% no-repeat;
  background-size: 1em 1em;
  width: 1.4em;
  height: 1em;
  left: -1.3em;
  opacity: 0;
  transition: opacity 0.2s;
  border: none !important; /* TODO get rid of linkify */
}
@media (min-width: 768px) {
  .content :global(h2):hover :global(.anchor),
  .content :global(h3):hover :global(.anchor),
  .content :global(h4):hover :global(.anchor),
  .content :global(h5):hover :global(.anchor),
  .content :global(h6):hover :global(.anchor) {
    opacity: 1;
  }
  .content :global(h5) :global(.anchor),
  .content :global(h6) :global(.anchor) {
    top: 0.2em;
  }
}
.content :global(h3),
.content :global(h3 > code) {
  margin: 6.4rem 0 0 0;
  padding: 2rem 1.6rem 5.6rem .2rem;
  color: var(--text);
  border-top: var(--border-w) solid #6767781f; /* based on --second */
  background: transparent;
  line-height: 1;
}
.content :global(h3):first-of-type {
  border: none;
  margin: 0;
}
/* avoid doubled border-top */
.content :global(h3 > code) {
  border-radius: 0 0 0 0;
  border: none;
  font-size: inherit;
}
.content :global(h4),
.content :global(h4 > code) {
  font-family: inherit;
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--second);
  margin: 6.4rem 0 1.6rem 0;
  padding-left: 0;
  background: transparent;
  line-height: 1;
  padding: 0;
  top: 0;
}
.content :global(h4 > em) {
  opacity: 0.7;
}
.content :global(h5) {
  font-size: 2.4rem;
  margin: 2em 0 0.5em 0;
}
.content :global(code) {
  padding: .3rem .8rem .3rem;
  margin: 0 0.2rem;
  top: -.1rem;
  background: var(--back-api);
}
.content :global(pre) :global(code) {
  padding: 0;
  margin: 0;
  top: 0;
  background: transparent;
}
.content :global(pre) {
  margin: 0 0 2em 0;
  width: 100%;
  max-width: 100%;
}
.content :global(.icon) {
  width: 2rem;
  height: 2rem;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.example_link {
  display: block;
  font-weight: 500;
  color: #727272;
  font-size: 1em;
  margin: 0 0 0.3em 0;
  line-height: 1.2;
}

a {
  position: relative;
  transition: color 0.2s;
  border-bottom: none;
}
