<!doctype html>
<html lang="{{ .Site.LanguageCode }}" theme="light" is-docs-page js-focus-visible-polyfill-available>
  <head>
    {{- partial "head.meta" (dict "Context" . "Product" .Section) -}}

    <link rel="stylesheet" href="/docs/style.css"/>
    {{- block "styles" . -}}{{- end -}}

    {{- partial "script" (dict "src" "theme.ts" "inline" true "format" "iife") -}}
    {{- partial "script" (dict "src" "main.ts" "defer" true) -}}
    {{- block "scripts" . -}}{{- end -}}

    <!-- <script>var $$r=document.documentElement;$$r.className='';!function(){var a=localStorage.getItem("dark");(a=a&&+a)||a||window.matchMedia&&window.matchMedia("(prefers-color-scheme: dark)").matches,$$r.classList.toggle("dark",a=!!a),localStorage.setItem("dark",+a+"")}()</script> -->

    <!-- <script data-source="docs" async defer src="https://feedback.developers.cloudflare.com/sdk.js"></script> -->

    <!-- <script SameSite="None; Secure" src="https://cdn.landbot.io/landbot-3/landbot-3.0.0.js"></script>
    <script>
      var myLandbot = new Landbot.Livechat({
        configUrl: 'https://storage.googleapis.com/landbot.site/v3/H-1330719-YMSSH4OLPZIABST3/index.json',
      });
    </script> <link rel="preload" href="https://feedback.developers.cloudflare.com/sdk.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="https://feedback.developers.cloudflare.com/sdk.css"/></noscript> -->
  </head>
  <body>
    {{- block "main" . -}}{{- end -}}

    {{- partial "littlefoot" -}}
  </body>
</html>
